<VirtualHost *:80>

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/tooling/html
#        ServerName: localhost:80

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
